gevent==21.1.2
numpy==1.19.5
Unidecode==1.2.0
tqdm==4.61.2
SQLAlchemy==1.4.20
pandas==1.3.0
keras_nightly==2.5.0.dev2021032900
requests==2.25.1
tensorflow==2.5.0
grequests==0.6.0
matplotlib==3.4.2
keras==2.4.3
scikit_learn==0.24.2
